footer {
    margin: 0px;
    background-color: #2c3e50;
    color: $colorletra;
    padding: 10px 0;
    text-align: center;
}

#grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#grilla div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#area1{
    display: inline-block;
    width: max-content;
}

#area1 p {
    margin: 5px 0;
    font-size: 20px;
}

#area1 p a {
    color: $colorletra;
    text-decoration: none;
}

#area2 img {
    max-width: 150px;
    transition: transform 0.3s ease-in-out;
}

#area2 img:hover {
    transform: scale(1.2);
}

#area3{
    width: max-content;
}

#area3 ul {
    list-style: none;
    padding: 0;
}

#area3 ul li {
    margin: 10px 0;
}

#area3 ul li a {
    text-decoration: none;
    color: $colorletra;
    font-size: 20px;
}

#area3 ul li a:hover {
    color: aqua;
}
